.borderMain {
	.border {
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 4px solid #1c1c1cda;
		min-width: 320px;
		min-height: 508px;
		border-radius: 10px;
		box-shadow: 2px 9px 37px 2px rgba(126, 126, 126, 0.2);
		margin: 5px;
		&:nth-of-type(-n + 3) {
			margin-right: 5px;
		}
	}
	.deleteButton {
		float: right;
		margin-right: 5px;
		img {
			width: 24px;
			height: 24px;
		}
	}
}
